* {
  padding: 0;
  margin: 0;
  border: 0;
}

* *,
* *:before,
* *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* :focus,
* :active {
  outline: none;
}

* a:focus,
* a:active {
  outline: none;
}

* nav,
* footer,
* header,
* aside {
  display: block;
}

* html,
* body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* input,
* button,
* textarea {
  font-family: inherit;
}

* input::-ms-clear {
  display: none;
}

* button {
  cursor: pointer;
}

* button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* a,
* a:visited {
  text-decoration: none;
}

* a:hover {
  text-decoration: none;
}

* ul li {
  list-style: none;
}

* img {
  vertical-align: top;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #7395ae;
  background: #fafafa;
  font-family: "Montserrat";
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.-container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.-ibg {
  position: relative;
}

.-ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 59;
}

.header__container {
  min-height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  color: inherit;
}

.header__menu {
  margin: 0 0 0 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 580px) {
  .menu__item {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    font-size: 18px;
  }
}

@media (max-width: 364px) {
  .menu__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    font-size: 14px;
  }
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

@media (max-width: 580px) {
  .menu__item:not(:last-child) {
    margin: 0;
  }
}

.menu__link {
  color: #5d5c61;
  display: block;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
  padding: 5px 10px;
}

.menu__link:hover {
  color: #f9f9f9;
  background-color: #7395ae;
  border-radius: 5px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}

.page__clients:not(:last-child) {
  margin: 0 0 10px 0;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header-block__subtitle {
  font-weight: 500;
  color: #5d5c61;
  letter-spacing: 0.2px;
  line-height: 142%;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 600px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0 160px 0;
  }
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  letter-spacing: 0.2px;
  margin: 35px 0;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 38px;
  }
}

.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #5d5c61;
  letter-spacing: 0.2px;
  margin: 0 0 35px 0;
}

@media (max-width: 479px) {
  .main-block__text {
    color: #494949;
  }
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  padding: 5px 36px;
  margin: 10px 0;
  background: #b15f5f;
  color: #fff;
}

.main-block__button:hover {
  background-color: #7395ae;
  color: #fff;
  border: none;
}

@media (max-width: 479px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 480px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button-border {
  background: none;
  border: 1px solid #b15f5f;
  color: #b15f5f;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__imageimg {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__imageimg {
    opacity: 0.5;
  }
}

@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 992px) {
  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 992px) {
  .services__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 670px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.services__item {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px;
  height: 100%;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

.services__item:hover {
  background-color: rgba(115, 149, 174, 0.2);
}

.item-service {
  display: block;
}

.item-service__title {
  color: #7395ae;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  font-weight: 500;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #5d5c61;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.advantages {
  padding: 80px 0 30px 0;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 40px 0;
  }
}

.advantages__header {
  margin: 0 0 50px 0;
}

@media (max-width: 767px) {
  .advantages__header {
    margin: 0 0 25px 0;
  }
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 30px 0;
  padding: 0 15px;
}

@media (max-width: 1020px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.advantages__item {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  font-weight: 700;
  height: 100%;
}

.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.advantages__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #5d5c61;
}

.practice {
  padding: 55px 0 60px 0;
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0 0 40px 0;
  }
}

.practice__header {
  margin: 0 0 45px 0;
}

@media (max-width: 767px) {
  .practice__header {
    margin: 0 0 25px 0;
  }
}

.practice__body {
  margin: 0 -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 30px 0;
}

@media (max-width: 1040px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item-practice {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-practice__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  font-weight: 700;
}

.item-practice__text {
  color: #5d5c61;
  font-weight: 14px;
  line-height: 142%;
}

.item-practice__image {
  padding: 0 0 60% 0;
  display: block;
}

.item-practice__image img {
  border-radius: 0 0 10px 10px;
}

.whoweare {
  background: #ffffff;
  padding: 40px 0 50px 0;
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }
}

@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0 50px 0;
  }
}

.whoweare__header {
  margin: 0 0 100px 0;
}

@media (max-width: 950px) {
  .whoweare__header {
    margin: 0 0 30px 0;
  }
}

.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 950px) {
  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 950px) {
  .whoweare__video {
    padding: 0 0 56.25% 0;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 950px) and (max-width: 767px) {
  .whoweare__video:not(:last-child) {
    margin: 30px 0 0 0;
  }
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 950px) {
  .whoweare__content {
    padding: 0 0 0 0;
  }
}

.whoweare__top:not(:last-child) {
  margin: 0 0 50px 0;
}

@media (max-width: 767px) {
  .whoweare__top:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

.whoweare__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 142%;
}

.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}

@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
  }
}

.whoweare__text {
  font-weight: 500;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #5d5c61;
}

.whoweare__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  color: #5d5c61;
  line-height: 142%;
  width: 210px;
}

.item-whoweare__text a {
  font-weight: 900;
  color: #5d5c61;
  display: inline-block;
  padding: 5px 10px 5px 5px;
}

.item-whoweare__text a:hover {
  color: #fff;
  background-color: #7395ae;
  border-radius: 5px;
}

.clients {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0;
  }
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background: #7395ae;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #516b7e;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .subscribe__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
    margin: 0px;
  }
}

.subscribe__title {
  color: #ffffff;
  min-width: 266px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 24px;
  line-height: 133%;
  font-weight: 700;
  letter-spacing: 0.1px;
}

@media (max-width: 767px) {
  .subscribe__title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .subscribe__form {
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 58px;
  padding: 0px 20px;
  border-radius: 5px 0px 0px 5px;
  background: #f9f9f9;
  color: #5d5c61;
  border-right: 0;
}

.subscribe__input:focus {
  color: #000000;
}

@media (max-width: 767px) {
  .subscribe__input {
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.subscribe__button {
  background: #b15f5f;
  border-radius: 0px 5px 5px 0px;
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 0px 22px;
}

.subscribe__button:hover {
  color: #fff;
  background-color: #7395ae;
}

@media (max-width: 767px) {
  .subscribe__button {
    padding: 0px 10px;
    border-radius: 5px;
  }
}

.contacts {
  padding: 80px 0 0 0;
}

@media (max-width: 767px) {
  .contacts {
    padding: 30px 0;
  }
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .contacts__body {
    padding: 30px 0;
  }
}

.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background-color: #fff;
  padding: 50px 0;
}

.contacts__column_b {
  background-color: #516b7e;
  color: #fff;
  margin: -30px 0;
  border-top: 30px solid #516b7e;
  border-bottom: 30px solid #516b7e;
}

@media (max-width: 767px) {
  .contacts__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 20px 0;
    margin: 0;
  }
}

.item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-contact img {
  max-width: 100%;
}

.item-contact__title {
  margin: 15px 0;
}

.item-contact__button {
  color: #b15f5f;
  padding: 10px 20px;
  gap: 10px;
  border: 1px solid #b15f5f;
  border-radius: 5px;
}

.item-contact__button:hover {
  color: #fff;
  background-color: #7395ae;
  border: none;
}

.item-contact__button_w {
  border: 1px solid #fff;
  color: #fff;
}

.item-contact__button_w:hover {
  color: #fff;
  background-color: #7395ae;
  border: none;
}

.contact__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.contact__number a {
  color: #7395ae;
}

.contact__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.contact__address a {
  color: #fff;
}

.contact__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.contact__mail a {
  color: #7395ae;
}

.consulting {
  padding: 10px 0 40px 0;
}

@media (max-width: 767px) {
  .consulting {
    padding: 0 0 20px 0;
  }
}

.consulting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .consulting__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.consulting__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #7395ae;
}

@media (max-width: 767px) {
  .consulting__title {
    margin-bottom: 10px;
  }
}

.consulting__subtitle {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #5d5c61;
}

@media (max-width: 767px) {
  .consulting__subtitle {
    margin-bottom: 10px;
  }
}

.consulting__btn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 15px 40px;
  background: #b15f5f;
  border-radius: 5px;
}

.consulting__btn:hover {
  background-color: #7395ae;
}

.links {
  padding: 50px 0;
  background-color: #7395ae;
}

@media (max-width: 767px) {
  .links {
    padding: 20px 0;
  }
}

.links__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .links__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.links__column {
  padding: 0 10px;
}

@media (max-width: 767px) {
  .links__column {
    border: 5px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .links__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .links__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.links__title {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin: 0 0 20px 0;
}

.links__item_i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .links__item_i a {
    display: inline-block;
    width: 100%;
  }
}

.links__item a {
  color: #fff;
  display: block;
  padding: 10px;
}

.links__item a:hover {
  color: #7395ae;
  background: #fff;
  border-radius: 5px;
}

.links__item img {
  margin: 0 10px 0 0;
}

.copywrite {
  padding: 15px 0;
}

@media (max-width: 767px) {
  .copywrite {
    padding: 10px 0;
  }
}

.copywrite__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .copywrite__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.copywrite__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copywrite__subtitle :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  margin: 5px 0 0 0;
}

.copywrite__subtitle :last-child img {
  max-width: 60px;
  padding: 0 0 0 5px;
}

@media (max-width: 767px) {
  .copywrite__subtitle {
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .copywrite__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.copywrite__icons a {
  margin: 0 10px;
}
